In [1]:
import pandas as pd

In [2]:
cities = ['ahmedabad', 'bengaluru', 'chandigarh', 'chennai', 'coimbatore', 'dehradun','delhi', 'gangtok', 'guwahati', 'kochi', 'mumbai', 'rishikesh', 'shillong', 'thiruvananthapuram']

In [3]:
dfs= {}

In [4]:
df1 = pd.read_excel('./aqi_data/AQI_daily_city_level_mumbai_2023_mumbai_2023.xlsx')

In [5]:
df1

,,Unnamed: 1,Central Pollution Control Board,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,Air Quality Calendar Report,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,State : Maharashtra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,City : Mumbai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Year : 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Day,Jan,Feb,Mar,Apr,May,June,July,Aug,Sept,Oct,Nov,Dec
7,1,147,227,174,108,74,89,67,54,84,87,175,127
8,2,188,180,205,93,78,84,54,58,81,97,169,138
9,3,214,198,262,86,80,74,62,62,80,116,178,144
10,4,204,201,281,86,76,72,65,73,86,121,180,128
11,5,223,226,260,87,75,73,65,62,81,120,198,136
12,6,255,185,246,99,74,81,51,68,78,131,198,154
13,7,204,177,139,149,84,87,54,70,71,120,186,125
14,8,198,233,136,182,82,89,91,71,65,110,131,117
15,9,137,236,156,156,91,81,70,78,61,144,111,114
16,10,158,200,145,132,112,85,65,65,54,109,87,114
17,11,213,172,163,112,121,85,73,61,54,88,90,108
18,12,196,165,186,134,120,90,77,65,59,100,154,114
19,13,134,146,213,130,99,83,108,68,58,159,193,115
20,14,240,203,199,126,52,78,87,67,63,177,168,134
21,15,198,224,165,110,68,83,82,62,65,150,201,139
22,16,214,199,146,100,67,84,87,56,60,185,168,133
23,17,236,201,117,95,69,89,83,55,57,189,140,126
24,18,264,185,118,103,75,98,80,55,58,199,162,136
25,19,256,191,97,125,76,92,86,50,53,156,159,138
26,20,231,183,90,106,80,93,86,53,51,185,115,134
27,21,175,201,91,79,73,100,87,51,59,155,132,157
28,22,168,123,96,74,70,97,88,50,59,172,123,189
29,23,170,172,86,86,79,77,88,52,58,177,137,190
30,24,175,219,73,77,69,73,87,53,53,182,152,166
31,25,209,197,88,101,68,61,81,54,59,157,124,155
32,26,232,208,98,94,67,73,48,61,67,157,98,178
33,27,254,194,97,92,73,58,45,60,68,139,59,174
34,28,244,188,117,71,75,61,49,56,77,153,61,194
35,29,176,NaN,125,81,78,53,51,64,94,152,94,181
36,30,154,NaN,106,81,80,56,52,87,72,157,102,161
37,31,225,NaN,82,NaN,97,NaN,53,91,NaN,168,NaN,143
38,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Good,,,,,,,3,2,,,,
40,Satifactory,,,10,16,28,30,27,29,30,4,6,
41,Moderate,14,17,15,14,3,,1,,,27,23,31
42,Poor,17,11,6,,,,,,,,1,
43,Very poor,,,,,,,,,,,,
44,Severe,,,,,,,,,,,,
45,NaN,,,,,,,,,,,,
46,SP,,,,,,,,,,,,
47,% of Availability,100,100,100,100,100,100,100,100,100,100,100,100

In [6]:
chalega_kuchhbhi = True

In [7]:
indicator_col = df1[' ']
if chalega_kuchhbhi:
    df1 = df1.loc[(indicator_col == 'Good') | (indicator_col == 'Satisfactory') | (indicator_col == 'Satifactory')]
else:
    df1 = df1.loc[(indicator_col == 'Good')]

In [8]:
df1

,,Unnamed: 1,Central Pollution Control Board,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
39,Good,,,,,,,3,2,,,,
40,Satifactory,,,10,16,28,30,27,29,30,4,6,

In [9]:
df1.apply(pd.to_numeric, errors='coerce').sum().sum()

np.float64(185.0)

In [10]:
df2 = pd.read_excel('./aqi_data/AQI_daily_city_level_mumbai_2024_mumbai_2024.xlsx')
indicator_col = df2['Day']
if chalega_kuchhbhi:
    df2 = df2.loc[(indicator_col == 'Good') | (indicator_col == 'Satisfactory') | (indicator_col == 'Satifactory')]
else:
    df2 = df2.loc[(indicator_col == 'Good')]

In [11]:
df2

,Day,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
32,Good,NaN,NaN,NaN,NaN,NaN,15.0,21.0,25.0,20.0,1.0,NaN,NaN
33,Satifactory,6.0,7.0,15.0,20.0,27.0,15.0,10.0,6.0,10.0,21.0,NaN,NaN

In [12]:
df2.apply(pd.to_numeric, errors='coerce').sum().sum()

np.float64(219.0)

In [13]:
def get_good_days_percent(df1, chalega_kuchhbhi = False):
    if year == 2023:
        indicator_col = df1[' ']
    else:
        indicator_col = df1['Day']
        
    if chalega_kuchhbhi:
        df1 = df1.loc[(indicator_col == 'Good') | (indicator_col == 'Satisfactory') | (indicator_col == 'Satifactory')]
    else:
        df1 = df1.loc[(indicator_col == 'Good')]
    return df1.apply(pd.to_numeric, errors='coerce').sum().sum() / 365

res_data = {}
for city in cities:
    for year in range(2023, 2025):
        try:
            print("opening: ", city, year)
            df= pd.read_excel(f'./aqi_data/AQI_daily_city_level_{city}_{year}_{city}_{year}.xlsx')
            res_data[f'{city}-{year}'] = get_good_days_percent(df)
        except:
            print('no bueano', city, year)

opening:  ahmedabad 2023
opening:  ahmedabad 2024
opening:  bengaluru 2023
opening:  bengaluru 2024
opening:  chandigarh 2023
opening:  chandigarh 2024
opening:  chennai 2023
opening:  chennai 2024
opening:  coimbatore 2023
opening:  coimbatore 2024
opening:  dehradun 2023
opening:  dehradun 2024
opening:  delhi 2023
opening:  delhi 2024
opening:  gangtok 2023
opening:  gangtok 2024
opening:  guwahati 2023
opening:  guwahati 2024
opening:  kochi 2023
opening:  kochi 2024
opening:  mumbai 2023
opening:  mumbai 2024
opening:  rishikesh 2023
opening:  rishikesh 2024
opening:  shillong 2023
opening:  shillong 2024
opening:  thiruvananthapuram 2023
opening:  thiruvananthapuram 2024

In [14]:
res_data

{'ahmedabad-2023': np.float64(0.00821917808219178),
 'ahmedabad-2024': np.float64(0.03287671232876712),
 'bengaluru-2023': np.float64(0.18904109589041096),
 'bengaluru-2024': np.float64(0.1780821917808219),
 'chandigarh-2023': np.float64(0.03561643835616438),
 'chandigarh-2024': np.float64(0.06027397260273973),
 'chennai-2023': np.float64(0.08767123287671233),
 'chennai-2024': np.float64(0.14246575342465753),
 'coimbatore-2023': np.float64(0.0273972602739726),
 'coimbatore-2024': np.float64(0.3287671232876712),
 'dehradun-2023': np.float64(0.057534246575342465),
 'dehradun-2024': np.float64(0.22465753424657534),
 'delhi-2023': np.float64(0.0027397260273972603),
 'delhi-2024': np.float64(0.0),
 'gangtok-2023': np.float64(0.20821917808219179),
 'gangtok-2024': np.float64(0.4301369863013699),
 'guwahati-2023': np.float64(0.10684931506849316),
 'guwahati-2024': np.float64(0.16164383561643836),
 'kochi-2023': np.float64(0.030136986301369864),
 'kochi-2024': np.float64(0.0),
 'mumbai-2023': np.float64(0.0136986301369863),
 'mumbai-2024': np.float64(0.22465753424657534),
 'rishikesh-2023': np.float64(0.4383561643835616),
 'rishikesh-2024': np.float64(0.25753424657534246),
 'shillong-2023': np.float64(0.4410958904109589),
 'shillong-2024': np.float64(0.2054794520547945),
 'thiruvananthapuram-2023': np.float64(0.663013698630137),
 'thiruvananthapuram-2024': np.float64(0.4301369863013699)}

In [15]:
df2 = pd.read_excel('./aqi_data/AQI_daily_city_level_mumbai_2022_mumbai_2022.xlsx')

In [16]:
df2= df2.drop(columns=['Date'], errors="ignore")
df2

,January,February,March,April,May,June,July,August,September,October,November,December
0,173,177.0,187,196.0,89,79.0,58,65,64.0,78,152.0,213
1,150,179.0,216,214.0,103,99.0,67,63,74.0,58,169.0,216
2,156,187.0,204,172.0,91,108.0,72,89,80.0,58,141.0,219
3,184,162.0,177,142.0,103,77.0,65,61,69.0,70,145.0,249
4,219,276.0,167,108.0,118,69.0,60,71,60.0,75,159.0,272
5,170,228.0,185,98.0,139,70.0,61,50,61.0,67,158.0,275
6,204,181.0,170,104.0,189,71.0,56,51,69.0,70,146.0,271
7,134,116.0,204,106.0,169,70.0,68,48,62.0,67,168.0,255
8,88,103.0,210,81.0,117,56.0,68,45,72.0,64,192.0,190
9,74,138.0,206,74.0,114,62.0,65,46,66.0,72,179.0,170
10,137,159.0,195,71.0,118,59.0,68,43,71.0,67,158.0,198
11,132,153.0,168,94.0,122,55.0,54,46,65.0,74,156.0,168
12,172,174.0,170,92.0,123,56.0,62,45,62.0,80,161.0,169
13,208,128.0,167,88.0,132,65.0,53,68,53.0,79,178.0,127
14,182,105.0,198,72.0,118,56.0,56,79,51.0,82,220.0,117
15,160,93.0,184,89.0,131,51.0,62,80,50.0,107,190.0,142
16,147,88.0,189,94.0,157,65.0,64,67,46.0,99,167.0,152
17,171,111.0,187,83.0,212,60.0,85,55,39.0,85,128.0,165
18,181,143.0,111,80.0,238,45.0,83,57,46.0,80,134.0,138
19,154,132.0,106,81.0,179,44.0,58,55,61.0,87,143.0,161
20,110,154.0,159,125.0,147,48.0,63,57,54.0,100,138.0,189
21,99,158.0,152,127.0,106,58.0,63,58,50.0,82,173.0,242
22,247,119.0,155,139.0,83,52.0,60,53,60.0,123,195.0,238
23,381,168.0,211,104.0,88,48.0,48,53,49.0,136,211.0,175
24,268,219.0,132,91.0,97,49.0,49,72,54.0,213,231.0,186
25,267,223.0,109,101.0,95,55.0,50,64,58.0,159,243.0,198
26,212,156.0,110,85.0,76,54.0,67,74,67.0,163,238.0,241
27,160,215.0,113,114.0,86,51.0,73,71,67.0,151,167.0,240
28,162,NaN,127,102.0,83,59.0,81,68,70.0,144,158.0,238
29,168,NaN,128,86.0,66,58.0,71,88,70.0,127,198.0,229
30,176,NaN,105,NaN,87,NaN,74,81,NaN,130,NaN,222

In [17]:
(df2 < 50).sum().sum()

np.int64(17)

In [18]:
def get_good_days_percent_oldsheet(df2, chalega_kuchhbhi = False):
    df2= df2.drop(columns=['Date'], errors="ignore")
    thresh = 100 if chalega_kuchhbhi else 50
    return (df2 < thresh).sum().sum() / 365


for city in cities:
    for year in range(2018, 2023):
        try:
            print("opening: ", city, year)
            df2= pd.read_excel(f'./aqi_data/AQI_daily_city_level_{city}_{year}_{city}_{year}.xlsx')
            res_data[f'{city}-{year}'] = get_good_days_percent_oldsheet(df2)
        except:
            print('no bueano', city, year)

opening:  ahmedabad 2018
opening:  ahmedabad 2019
no bueano ahmedabad 2019
opening:  ahmedabad 2020
opening:  ahmedabad 2021
opening:  ahmedabad 2022
opening:  bengaluru 2018
opening:  bengaluru 2019
no bueano bengaluru 2019
opening:  bengaluru 2020
opening:  bengaluru 2021
opening:  bengaluru 2022
opening:  chandigarh 2018
opening:  chandigarh 2019
no bueano chandigarh 2019
opening:  chandigarh 2020
opening:  chandigarh 2021
opening:  chandigarh 2022
opening:  chennai 2018
opening:  chennai 2019
no bueano chennai 2019
opening:  chennai 2020
opening:  chennai 2021
opening:  chennai 2022
opening:  coimbatore 2018
opening:  coimbatore 2019
no bueano coimbatore 2019
opening:  coimbatore 2020
opening:  coimbatore 2021
opening:  coimbatore 2022
opening:  dehradun 2018
opening:  dehradun 2019
no bueano dehradun 2019
opening:  dehradun 2020
opening:  dehradun 2021
opening:  dehradun 2022
opening:  delhi 2018
opening:  delhi 2019
no bueano delhi 2019
opening:  delhi 2020
opening:  delhi 2021
opening:  delhi 2022
opening:  gangtok 2018
opening:  gangtok 2019
no bueano gangtok 2019
opening:  gangtok 2020
opening:  gangtok 2021
opening:  gangtok 2022
opening:  guwahati 2018
opening:  guwahati 2019
no bueano guwahati 2019
opening:  guwahati 2020
opening:  guwahati 2021
opening:  guwahati 2022
opening:  kochi 2018
opening:  kochi 2019
no bueano kochi 2019
opening:  kochi 2020
opening:  kochi 2021
opening:  kochi 2022
opening:  mumbai 2018
opening:  mumbai 2019
no bueano mumbai 2019
opening:  mumbai 2020
opening:  mumbai 2021
opening:  mumbai 2022
opening:  rishikesh 2018
no bueano rishikesh 2018
opening:  rishikesh 2019
no bueano rishikesh 2019
opening:  rishikesh 2020
no bueano rishikesh 2020
opening:  rishikesh 2021
no bueano rishikesh 2021
opening:  rishikesh 2022
opening:  shillong 2018
opening:  shillong 2019
no bueano shillong 2019
opening:  shillong 2020
opening:  shillong 2021
opening:  shillong 2022
opening:  thiruvananthapuram 2018
opening:  thiruvananthapuram 2019
no bueano thiruvananthapuram 2019
opening:  thiruvananthapuram 2020
opening:  thiruvananthapuram 2021
opening:  thiruvananthapuram 2022

In [19]:
res_data

{'ahmedabad-2023': np.float64(0.00821917808219178),
 'ahmedabad-2024': np.float64(0.03287671232876712),
 'bengaluru-2023': np.float64(0.18904109589041096),
 'bengaluru-2024': np.float64(0.1780821917808219),
 'chandigarh-2023': np.float64(0.03561643835616438),
 'chandigarh-2024': np.float64(0.06027397260273973),
 'chennai-2023': np.float64(0.08767123287671233),
 'chennai-2024': np.float64(0.14246575342465753),
 'coimbatore-2023': np.float64(0.0273972602739726),
 'coimbatore-2024': np.float64(0.3287671232876712),
 'dehradun-2023': np.float64(0.057534246575342465),
 'dehradun-2024': np.float64(0.22465753424657534),
 'delhi-2023': np.float64(0.0027397260273972603),
 'delhi-2024': np.float64(0.0),
 'gangtok-2023': np.float64(0.20821917808219179),
 'gangtok-2024': np.float64(0.4301369863013699),
 'guwahati-2023': np.float64(0.10684931506849316),
 'guwahati-2024': np.float64(0.16164383561643836),
 'kochi-2023': np.float64(0.030136986301369864),
 'kochi-2024': np.float64(0.0),
 'mumbai-2023': np.float64(0.0136986301369863),
 'mumbai-2024': np.float64(0.22465753424657534),
 'rishikesh-2023': np.float64(0.4383561643835616),
 'rishikesh-2024': np.float64(0.25753424657534246),
 'shillong-2023': np.float64(0.4410958904109589),
 'shillong-2024': np.float64(0.2054794520547945),
 'thiruvananthapuram-2023': np.float64(0.663013698630137),
 'thiruvananthapuram-2024': np.float64(0.4301369863013699),
 'ahmedabad-2018': np.float64(0.0),
 'ahmedabad-2020': np.float64(0.0136986301369863),
 'ahmedabad-2021': np.float64(0.00821917808219178),
 'ahmedabad-2022': np.float64(0.0273972602739726),
 'bengaluru-2018': np.float64(0.07123287671232877),
 'bengaluru-2020': np.float64(0.29041095890410956),
 'bengaluru-2021': np.float64(0.1863013698630137),
 'bengaluru-2022': np.float64(0.08767123287671233),
 'chandigarh-2018': np.float64(0.0),
 'chandigarh-2020': np.float64(0.32054794520547947),
 'chandigarh-2021': np.float64(0.12876712328767123),
 'chandigarh-2022': np.float64(0.0821917808219178),
 'chennai-2018': np.float64(0.038356164383561646),
 'chennai-2020': np.float64(0.13972602739726028),
 'chennai-2021': np.float64(0.18356164383561643),
 'chennai-2022': np.float64(0.16712328767123288),
 'coimbatore-2018': np.float64(0.0),
 'coimbatore-2020': np.float64(0.2684931506849315),
 'coimbatore-2021': np.float64(0.030136986301369864),
 'coimbatore-2022': np.float64(0.33972602739726027),
 'dehradun-2018': np.float64(0.0),
 'dehradun-2020': np.float64(0.0),
 'dehradun-2021': np.float64(0.0),
 'dehradun-2022': np.float64(0.1506849315068493),
 'delhi-2018': np.float64(0.0),
 'delhi-2020': np.float64(0.00821917808219178),
 'delhi-2021': np.float64(0.0027397260273972603),
 'delhi-2022': np.float64(0.0),
 'gangtok-2018': np.float64(0.0),
 'gangtok-2020': np.float64(0.0),
 'gangtok-2021': np.float64(0.0),
 'gangtok-2022': np.float64(0.42191780821917807),
 'guwahati-2018': np.float64(0.0),
 'guwahati-2020': np.float64(0.37534246575342467),
 'guwahati-2021': np.float64(0.20821917808219179),
 'guwahati-2022': np.float64(0.2328767123287671),
 'kochi-2018': np.float64(0.0),
 'kochi-2020': np.float64(0.07945205479452055),
 'kochi-2021': np.float64(0.37534246575342467),
 'kochi-2022': np.float64(0.07671232876712329),
 'mumbai-2018': np.float64(0.0),
 'mumbai-2020': np.float64(0.31232876712328766),
 'mumbai-2021': np.float64(0.09041095890410959),
 'mumbai-2022': np.float64(0.04657534246575343),
 'rishikesh-2022': np.float64(0.0),
 'shillong-2018': np.float64(0.0),
 'shillong-2020': np.float64(0.5232876712328767),
 'shillong-2021': np.float64(0.410958904109589),
 'shillong-2022': np.float64(0.6904109589041096),
 'thiruvananthapuram-2018': np.float64(0.24383561643835616),
 'thiruvananthapuram-2020': np.float64(0.41643835616438357),
 'thiruvananthapuram-2021': np.float64(0.4465753424657534),
 'thiruvananthapuram-2022': np.float64(0.5123287671232877)}